body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

}


.mailto {
  color: #37352f;
  font: 24px/1.5 Helvetica, sans-serif;
  width: 8em;
}

.mailto:hover {
  cursor: pointer;
}
