.MainPage {
  width: 350px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .Greeting{
    text-align: center;
    width: 350px;
    height: 80px;
  }

  .Contacts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

    a {
        color: rgb(73, 73, 73);
        text-decoration: none;
        
        &:visited {
            color: rgb(73, 73, 73);
        }

        &:hover{
            text-decoration: underline;
        }
    }
  }

  .Lang {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 16px;

    #en {
      transition: background-color 0.2s ease-in;
      &:hover {
        cursor: pointer;
        background-color: rgb(32, 76, 196);
        transition: none;
      }

      &:active{
        background-color: rgba(32, 76, 196, 0.5);
      }
    }

    #ru {
      transition: background-color 0.2s ease-in;

      &:hover {
        cursor: pointer;
        background-color: rgb(201, 61, 68);
        transition: none;
      }

      &:active{
        background-color: rgba(201, 61, 68, 0.5);
      }
    }

    #uz {
      transition: background-color 0.2s ease-in;

      &:hover {
        cursor: pointer;
        background-color: rgb(43, 211, 80);
        transition: none;
      }
      &:active{
        background-color: rgba(43, 211, 80, 0.5);
      }
    }
  }
}
